<div class="container">
    <div  class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Acerca de BLW en Español</h1>
            <p>
                <b class="onceUpon">Todo empezó </b>cuando mi hermana, la futura tía más emocionada del mundo, 
                me mandó un email con un estudio que encontraba que la alimentación con cuchara 
                aumentaba la probabilidad de obesidad infantil*. Al leer esto
                pensé: bueno y ¿cómo se supone que tenemos que darles de comer entonces? ¿Con 
                tenedor? Simplemente no entendía. Nunca me lo había cuestionado ni se me había 
                ocurrido que existiera otra manera de darle de comer a un bebé. Si no tienen dientes
                ni coordinación motríz, ¿qué es lo que se supone que se tenía que hacer?
            </p>
            <br/>
            <p>
                Y es así como descubrí el baby led weaning o auto alimentación. Preguntándome 
                y buscando en Google: “¿cómo alimentar a bebé sin cuchara?”. Y ¡pum! Comenzó lo 
                que acabó siendo una revolución: más que una técnica de alimentación, se conviertió en un estilo
                de crianza. Me di cuenta que existen conceptos de Baby Led Weaning que pueden 
                ser <%=link_to "benéficos", pages_beneficios_blw_path%> sea cual sea la técnica que utilices para 
                introducir sólidos. Conceptos como: reconocer y 
                respetar las señales de saciedad de tu hijo, crear una relación positiva con la
                comida, condimentar con especias como jengibre, cilantro, perejil, canela, entre 
                otros, y sobre todo relajarte y disfrutar esta parte de su vida.
            </p>
            <br/>
            <p>
                Empezando a leer, me vinieron mil preguntas. Entre mas leía, más me interesaba y 
                mejor entendía. Hay miles de blogs, videos, sitios y más importante aún, <%=link_to "estudios", pages_estudios_y_referencias_path%> 
                avalados por la comunidad médica y/o científicamente probados. Hay estudios que confirman
                la relación entre la obesidad y la manera de introducir sólidos. Más concretamente 
                comprueban que introducir sólidos usando cuchara aumenta la probabilidad de obesidad 
                en la vida del bebé. Igualmente existen estudios que muestran que la
                auto alimentación promueve una preferencia por comidas más sanas en la primera 
                infancia que pudiera proteger contra la obesidad.
            </p>
            <br/>
            <p>
                Y aunque practicar baby led weaning o auto alimentación puede tener muchos <%=link_to "beneficios", pages_beneficios_blw_path%>, 
                cuando no se hace correctamente hay expertos que han expresado preocupación por un riesgo 
                de deficiencia de hierro y
                riesgo de ahogamiento. ¿Por qué? Porque como en todo, hay una manera correcta e incorrecta 
                de hacer las cosas y desgraciadamente hay muchos que comienzan sin saber haberse informado 
                acerca de cómo <%=link_to "asegurar una alimentación óptima", pages_nutricion_path%> y las 
                <%=link_to "reglas básicas de seguridad", pages_seguridad_path%>. Pero esto es cierto sin importar el método que utilices 
                para introducir sólidos.
            </p>
            <br/>
            <p>
                Aquí te dejo consejos de la manera óptima para empezar baby led weaning pero 
                en realidad deben aplicarse siempre, sin importar si se empieza con purés o comida.
            </p>
            <br/>
            <ul>
                <li><p>
                <b>Esperar a que tu bebé cumpla con todos <%=link_to "los requisitos", pages_edad_para_empezar_blw_path%></b> para poder comenzar. No 
                hacerlo pone a tu bebé en riesgo.
            </p></li>
            <br/>
            <li><p>
                 <b>Privilegiar alimentos altos en hierro.</b> 
                <%=link_to "Aquí", pages_hierro_path%> una explicación de porqué. Busca alimentos altos en hierro
                como la carne, el pescado y el pollo que además son excelentes fuentes de proteína.
            </p></li>
            <br/>
            <li><p>
                 Ofrecer alimentos preparados en casa o <b>alimentos sin sal.</b> Esto es importante porque 
                la cantidad máxima que un bebé debe consumir de sal es ¼ de cucharada. <!--La imagen muestra lo 
                que es ¼ de sal.--> Los riñones de los bebés no están desarrollados
                para eliminar la sal. La fórmula y la leche materna ya contienen sodio entonces agregarle 
                aunque sea un poco de sal a la comida de tu bebé seguramente pasará los límites recomendados.
            </p></li>
            <br/>
            <li><p>
                 <b>Ofrecer alimentos de buen tamaño y consistencia recomendada.</b> Nada muy chico o duro. 
                Sobre todo nada redondo ni <%=link_to "alimentos de alto riesgo", pages_alimentos_peligrosos_path%>.
            </p></li>
            <br/>
            <li><p>
                 <b>Evitar la miel completamente (hasta los 12 meses)</b> y el azúcar lo más posible. La 
                causa más común de botulismo infantil es el consumo de miel porque los bebés no producen 
                suficiente ácidos estomacales para desactivar esporas potenciales.
            </p></li>
            </ul>
            <p>
                Y en internet encontramos de todo y en cantidades masivas. Cuando buscamos información de alimentación 
                de bebés, hay cientos de miles de sitios y blogs que contienen información muchas veces 
                contradictoria, incorrecta y en algunos casos hasta peligrosa. Es
                así como nació este sitio. Me di cuenta de que no es fácil encontrar un lugar fiable donde 
                pudiera leer todo, o casi todo, acerca de BLW. Obtenía información 
                de múltiples sitios, era muy cansado y me tomaba mucho
                tiempo encontrar la información que buscaba y fuera de fiar.
            </p>
            <br/>
            <p>
                Además me gusta verificar lo que encuentro en un dominio .com (dominio que no requiere 
                de ninguna autoridad o experiencia en el tema), y busqué <%=link_to "estudios médicos", pages_estudios_y_referencias_path%>  
                publicados acerca del tema.
            </p>
            <br/>
            <p>
                Este sitio es la culminación de mis esfuerzos:
            </p>
            <ul>
                <li><p>cientas de horas buscando en internet,</p></li>
                <li><p>cientos de sitios leídos y minuciosamente analizados,</p></li>
                <li><p>decenas de estudios leídos e incorporados a mi investigación,</p></li>
                <li><p>experiencia propia con baby led weaning o auto alimentación.</p></li>
            </ul>
            <br/>
            <p>
                Hice toda esta investigación para que tu no lo tengas que hacer y puedas pasar tu tiempo 
                en otras cosas más divertidas. Pero no me tomes la palabra, porque nunca debes de creer lo 
                que lees en internet sin preguntarte de donde viene la información. Por
                eso agrego algunos de <%=link_to "los estudios", pages_estudios_y_referencias_path%> y links de los sitios de donde yo he obtenido la información 
                para que puedas comprobar por ti misma.
            </p>
            <br/>
            <p>
                Ahí lo tienes, espero que encuentres todo lo que buscas aquí, que te sea útil, educativo y 
                sobre todo te ahorre mucho tiempo y dolores de cabeza. Disfruta de esta nueva etapa, relájate 
                y diviértete. ¡Verás que tu bebé así lo va a hacer!
            </p>
            <br/>
            <p> * El artículo original es este, pero el estudio no encontró una relación entre la obesidad 
            y la alimentación con cucharas.</p>
        </div>
    </div>
</div>