<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Alimentos a evitar</h1>
            <div>
                <img src="/assets/MielPages.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                Cuando empiezas con baby led weaning (BLW) o cualquier forma de alimentación complementaria debes saber que hay algunos alimentos
                <%= link_to "más recomendables", pages_lista_primeros_alimentos_path%> que otros. A continuación hice una lista con 8 'grupos' o alimentos que se deben evitar, algunos inclusive prohibir:
            </p>
            <p>
                <ol>
                    <li>
                        <p>
                            <b>Miel:</b> La causa más común de botulismo infantil es el consumo de miel porque los bebés no producen suficiente ácidos estomacales para desactivar esporas potenciales. Además los bebés no necesitan que endulces su alimento
                            porque esto es una preferencia que desarrollamos por añadirle azúcar y endulzantes a todo (leche, yogur, cereal, jugo, pan). En fin, es mejor que tu bebé comience con un paladar neutro para que no necesite de tanta azúcar para
                            disfrutar de su comida. Ya veras que a los bebés les encanta el yogur natural sin azúcar. Si quieres endulzar algun postre, te recomiendo usar pasta de datiles.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Palomitas:</b> Son un
                            <%= link_to "riesgo de ahogamiento", pages_ahogamiento_path%> y no aportan ningun valor nutricional.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Papas y Botanas:</b> Pretzels, Cheetos, Chicharrones, etc. Son un riesgo de ahogamiento, no aportan ningun valor nutricional sino al contrario, tienen niveles altisimos de sal y muchos colorantes y saborizantes artificiales.
                            Pero sobre todo son un
                            <%= link_to "riesgo de ahogamiento", pages_ahogamiento_path%>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Salchichas procesadas:</b> Tipo Fud, Sabori o la mayoría que se encuentra en los supers. Esta puede ser que sorprenda a algunos. Pero los ingredientes de una salchicha, demasiada sal, nitrito de sodio y glutamato monosódico
                            (normalmente escondido en el término “sabores artificiales”) entre otras cosas. Algunos de estos ingredientes son poco saludables y otros incluso dañinos, sobre todo para niños. La mayoría también tiene jarabe de fructosa u
                            otro endulzante. Todos estos ingredientes hacen que la salchicha sea un alimento cuyos beneficios (proteína y hierro) son minúsculos en comparación. En caso de que quieras darle salchicha, <u>asegurate de cortarla de manera vertical</u>                            para disminuir el <b><%= link_to "riesgo de ahogamiento", pages_ahogamiento_path%></b>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Dulces y chicles:</b> Un alto
                            <%= link_to "riesgo de ahogamiento", pages_ahogamiento_path%> y cero valor nutriconal.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Alimentos redondos:</b> Como jitomates cherry, zarzamoras o uvas. Las debes cortar verticalmente para evitar que sean un
                            <%= link_to "riesgo de ahogamiento", pages_ahogamiento_path%>. Los alimentos más pequeños como blueberries y frambuesas no las tienes que cortar porque las blueberries son muy pequenas y las frambuesa se deshacen fácilmente.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Frutos secos:</b> Como chabacanos, cranberries, ciruela pasa o datiles son un
                            <%= link_to "riesgo de ahogamiento", pages_ahogamiento_path%>. Esto no quiere decir que no las puedas usar para endulzar o ablandadas y mezcladas con otro alimento pero siempre debe tener la textura necesaria (se debe poder aplastar entre tu pulgar e índice) para la seguridad de tu bebe.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Nueces enteras:</b> Las nueces ofrecen una gran cantidad de beneficios pero no se le debe ofrecer nueces enteras (cachuates, nueces de la India, pistaches, almendras etc.) a niño menores de 5 años. Hay
                            <a href="http://www.med.umich.edu/yourchild/topics/choking.htm">quienes dicen</a> que hasta los 7 años. Puedes hacer mantequillas de cacahuate o almendras o usarlas picadas en recetas. No tiene nada que ver con una posible
                            alergia ya que ahora se recomienda
                            <%= link_to "introducir los alimentos considerado 'alergenicos' a temprana edad", pages_alergias_path%>. Claro si hay una alergia en la familia puedes discutirlo con el pediatra.
                        </p>
                    </li>
                    <li>
                        <p>
                            Vale la pena mencionar: <b>Cualquier alimento que no tenga la textura recomendada.</b> Se debe poder aplastar entre tu pulgar e índice. Si no es probable que este muy duro y pueda ser un
                            <%= link_to "riesgo de ahogamiento", pages_ahogamiento_path%>. Esto incluye pedazos de queso, carne, fruta y verdura. Todo alimento debe poder deshacerse entre tus dedos.
                        </p>
                    </li>
                </ol>
            </p>
            <p>
                Esta es una lista <em><u>no exhaustiva</u></em> de alimentos que se deben evitar. Usa tu juicio de lo que sí puedes darle a tu hijo. Si tienes una duda mejor no. Consulta con tu pediatra la introducción de alimentos sobre todo si hay alergias
                en tu familia.</p>
            <p>Pero toma en cuenta que tu pediatra es humano y muchos, desgraciadamente muchos no leen ni se actualizan acerca de métodos diferentes o nuevos. Si tu pediatra te dice que este método no es recomendable, pregunta porqué. Si tiene que ver con
                el método en sí y no con el caso particular de tu bebé, recomiéndale informarse acerca del método antes de dar una opinión sin fundamentos.
            </p>
            <p>
                <b>*Alimentos que tienen un <u>alto riesgo de ahogamiento</u>.</b>
            </p>
            </br>
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item active">Alimentos a <b>evitar</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Comida redonda </b>con la que se pueden ahogar fácilmente: Uvas, jitomates cherry, salchichas, cerezas etc. Éstas hay que cortarlas verticalmente para evitar que sean una forma redonda.
                    </li>
                    <li class="list-group-item">Sal: la cantidad máxima que un bebé debe consumir de sal es ¼ de cucharada porque los riñones tu bebé no están desarrollados para eliminar adecuadamente la sal. La fórmula y la leche materna ya contienen sodio entonces agregarle aunque
                        sea un poco de sal a la comida de tu bebé seguramente pasará los límites recomendados.</li>
                    <li class="list-group-item">Azúcar: Esto es una preferencia personal a la comida endulzada que desarrollamos desgraciadamente porque casi todo contiene azúcar. Entonces nuestro paladar se acostumbra a las cosas endulzadas. Evita esto con tu bebé! Es un excelente
                        hábito de vida. En otros países, Japón por ejemplo, se empalagan muy fácilmente porque no tienen un paladar “sobre endulzado”.</li>
                    <li class="list-group-item list-group-item-danger"><b>Miel:</b> La causa más común de botulismo infantil es el consumo de miel porque los bebés no producen suficiente ácidos estomacales para desactivar esporas potenciales</li>
                    <li class="list-group-item list-group-item-danger"><b>*Cereal:</b> si está muy duro o grande, una opción es remojarlo en leche o yogur</li>
                    <li class="list-group-item list-group-item-danger"><b>*Palomitas</b></li>
                    <li class="list-group-item"><b>Salchichas:</b> Las salchichas además de tener mucha sal, tienen nitrito de sodio, glutamato monosódico, normalmente escondido en el término “sabores artificiales” y muchas otras cosas que tu bebé no necesita</li>
                    <li class="list-group-item list-group-item-danger"><b>*Frutos secos:</b> Puedes utilizarlos para endulzar o molidos.</li>
                    <li class="list-group-item list-group-item-danger"><b>*Chicle</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Dulces</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Papitas</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Pretzels</b></li>
                    <li class="list-group-item list-group-item-danger"><b>*Nueces:</b> Puedes hacerlas mantequilla de cacahuate, almendra o de la India y ofrecerla untada en pan o fruta pero nunca entera.</li>
                    <li class="list-group-item">Comida chatarra</li>
                    <li class="list-group-item list-group-item-danger"><b>*Huesos:</b> Debes retirar huesos de la carne antes de dársela a tu bebé. Excepto las sardinas.</li>
                    <li class="list-group-item">Cualquier comida que cause alergia en la familia directa (mamá, papá o abuelos)</li>
                    <li class="list-group-item list-group-item-danger"><b>*Frutas y verduras duras*:</b> Recuerda que deben tener la consistencia correcta (que se pueda deshacer fácilmente entre tu pulgar e índice).</li>
                    <li class="list-group-item list-group-item-danger"><b>*Trozos de carne o queso*:</b> Dáselos en pedazos grandes que pueda morder con las encías y no le quepa entero en la boca.</li>
                    <li class="list-group-item"><b>Huevos no bien cocidos</b></li>
                    <li class="list-group-item"><b>Pescados con alto nivel de mercurio:</b> marlin, pez espada, tiburon, blanquillo, caballa (o jurel), lubina entre otro</li>
                    <li class="list-group-item"><b>Enlatados</b> por su alto contenido de sal</li>
                    <li class="list-group-item"><b>Alimentos preparados</b> (por la misma razón)</li>
                </ul>
                <br/>

            </div>
        </div>
    </div>