<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Beneficios de Baby Led Weaning</h1>
            </br>
            <div>
                <img src="/assets/Bluberries.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b>Aprende a coger con la mano (psicomotricidad fina), aprende a llevárselo a la boca, aprende a notar los diferentes sabores y texturas de los alimentos, aprende a tomar decisiones…aprende a masticar aunque no
                    tenga dientes… aprende a deglutir sólidos y aprende sobretodo que comer es agradable.<b class="quotes">"</b>
                    <footer>Dr. Carlos González, pedíatra y escritor (
                        <%=link_to "ver video", pages_seguridad_path%>)</footer>
                </p>
            </blockquote>
            </br>
            <p>
                <b class="onceUpon">De acuerdo a algunos estudios </b>(como <a href="http://bmjopen.bmj.com/content/2/1/e000298.full" target="_blank">este</a> y <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.2047-6310.2013.00207.x/full" target="_blank">este</a>)
                y quienes practicamos baby led weaning o alimentación autorregulada se pueden observar ciertos beneficios para los bebés que comienzan la alimentación complementaria de esta manera:
            </p>
            <br/>
            <h2>1. El bebé tendrá asociaciones positivas con la comida </h2>
            </br>
            <p>Al ser introducida de manera lúdica y divertida la comida. Si dejas que el bebé vaya a su ritmo y descubra por él mismo este nuevo universo, tendrá una relación saludable con la comida. No tendrás que pelear y suplicar para que tu hijo se
                siente a comer o se coma sus zanahorias. La comida será un placer para él desde pequeño. Este es uno de los objetivos más importantes de baby led weaning o alimentación autorregulada: establecer una relación positiva con la comida. La
                hora de la comida no sera batalla ni una “lucha de poder” sino un placer.
            </p>
            <br/>
            <h2>2. Los papás reconocen y respetan las señales de saciedad</h2>
            </br>
            <p>
                La alimentación autorregulada disminuye el riesgo de obesidad infantil comparado a los bebés alimentados por los papás. ¿Por qué? Porque cuando los papás son quienes alimentan al bebé, son ellos quienes tienen el control. Ellos deciden qué tan deprisa
                come el bebé y cuánto come, muchas veces ignorando (sin saber) las señales de saciedad.</p>
            <br>
            <p>Es muy común oír a papás decir, “un cucharada más” o “te falta un poco para terminar el frasco”. Esto contribuye a un exceso en calorías y más alarmante aún, a una <b>desensibilización a la capacidad que tienen los
                bebés de auto regulación</b> (saber cuando están satisfechos y dejar de comer). Esta capacidad la podemos observar con los bebés amamantados: cuando están satisfechos, dejan de comer y la mamá comprende que la comida ha terminado porque
                a diferencia de una botella, un seno no puede ser forzado dentro de la boca del bebé.
            </p>
            <br>
            <p>
                Entonces cuando tu bebé se muestre inquieto, comience a tirar todo lo que le pongas enfrente, quiera salirse de su silla o ya no muestre interés por lo que estan haciendo, son indicadores de que ya no quiere comer.
            </p>
            <br/>
            <h2>3. Se familiarizan con diferentes texturas y sabores</h2>
            </br>
            <p>
                Desde pequeños se familiarizan con diferentes texturas y sabores, desarrollando un paladar diverso y propiciando a que sean buenos comedores de grandes. También existen <a href="http://pedíatrics.aappublications.org/content/121/1/183.long" target="_blank">estudios</a> que demuestran que a los bebés a quienes se les introduce una variedad de
                alimentos a temprana edad son
                <%=link_to "menos propensos a sufrir de alergias", pages_alergias_path%> de más grandes.
            </p>
            <p>
                Puedes <b>utilizar especias y hierbas para darle sabor</b> a la comida en lugar de sal. Algunas 
                especias y hierbas que puedes usar son: jengibre, canela, comino, cilantro, nuez moscada, eneldo, perejil, ajo y romero entre otros.
            </p>
            <br/>
            <h2>4. Es una excelente manera de practicar su coordinación</h2>
            </br>
            <p>
                Desarrollan dexteridad manual y ayuda su coordinación óculo-manual (tomar cosas con la mano y coordinar hasta llevarlo a la boca).
            </p>
            <br/>
            <h2>5. Se respeta el ritmo natural de deglución y masticación</h2>
            </br>
            <p>
                Aprenden a masticar en el momento preciso: <b>primero aprenden a masticar y luego a deglutir sólidos</b> disminuyendo el riesgo de ahogamiento. Esto es porque los bebés no son capaces de tragar sólidos sin
                <%=link_to "reflejo nauseoso", pages_reflejo_nauseoso_path%>
                    hasta no desarrollar la capacidad de masticar. Y no desarrollan esta habilidad hasta después de tener la capacidad de agarrar cosas (motricidad gruesa). Por eso es uno de los <%=link_to "requisitos", pages_edad_para_empezar_blw_path%> para saber si tu bebé está listo para comenzar una alimentación complementaria . El “agarre
                    de pinza” (motricidad fina) se desarrolla aun después. Este orden natural de desarrollo ayuda a disminuir el riesgo de ahogamiento.
            </p>
            <br/>
            <h2>6. Tu bebé participa en la comida familiar</h2>
            </br>
            <p>
                El bebé forma parte de la comida familiar, participa de igual manera que los demás integrantes de la familia. Aunque sean sólo ustedes dos, siéntense en la mesa y disfruten de su compañía y de la comida. <b>Trata de hacer al menos una comida familiar</b> (con
                todos los integrantes de la familia) una vez al día, la cena o el desayuno por ejemplo y si no se puede los fines de semana.
            </p>
            <br/>
            <h2>Pero no hay que olvidar...</h2>
            </br>
            <p>
                Aunque hay muchos beneficios para hacer baby led weaning o alimentación autorregulada, debes tener en cuenta algunas cosas:
            </p>
            <br/>
            <ul>
                <li>
                    <p>
                        <b>¡Es un batidero!</b> Los primeros meses todo terminará batido: el bebé, su ropa, la silla, el piso. Vas a tener que limpiar y lavar todo cada vez que tengan una ‘sesión’ de comida.
                    </p>
                </li>
            </ul>
            <br/>
            <ul>
                <li>
                    <p>
                        <b>Puede ser muy lento.</b> Dependiendo del día y el humor de tu bebé, habrá días que juegue encantado con su comida media hora sin probar bocado. Tienes que tener paciencia y recordar que lo estás introduciendo a un nuevo mundo,
                        deja que descubra a su tiempo, no lo apresures. </p>
                        <br>
                        <p>Además los primeros meses la <%=link_to "cantidad", pages_cantidades_path%> que comen es prácticamente nula, pero no pierdas la paciencia. Aunque parezca que sólo juegan están desarrollando importantes habilidades. ¡Espera
                        un poco más y pronto te sorprenderás de cuánto come! Además no olvides que su <b>principal fuente de nutrición es la leche</b> y sus tomas deben de seguir exactamente iguales.
                    </p>
                </li>
            </ul>
            <br/>
            <ul>
                <li>
                    <p>
                        <b>Puede haber un riesgo de deficiencia de hierro.</b> Por eso se deben privilegiar
                        <%=link_to "alimentos altos en hierro", pages_hierro_path%> como la carne, pescado, pollo y huevo. Pero este riesgo también existe si decides dar purés y papillas: el 38% de bebés mexicanos entre 12 y 23 meses tienen anemia por deficiencia de hierro. Sea cual sea la técnica de alimentación
                            que hagas (papillas, baby led weaning o lo que sea), <b>asegura de incluir alimentos altos en hierro desde el primer día</b>.
                    </p>
                </li>
            </ul>
            <br/>
            <p>
                Y no es un todo o nada. Algunas familias deciden combinar purés con baby led weaning. Los purés son prácticos y hay unos que son hechos sin azúcares ni conservadores. También hay bebés para quienes baby led weaning o alimentación
                autorregulada
                <%=link_to "no es recomendado.", pages_cuando_no_hacer_blw_path%> Lo importante es que funcione para ti y tu familia. Además
                    <%=link_to "hay conceptos de baby led weaning", pages_consejos_para_todos_path%> o alimentación autorregulada que son útiles para todos.
            </p>
        </div>
    </div>
</div>