<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Beneficios de Baby Led Weaning</h1>
            </br>
            <div>
                <img src="/assets/AguacateAprende.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b>Aprende a coger con la mano (psicomotricidad fina), aprende a llevárselo a la boca, aprende a notar los diferentes sabores y texturas de los alimentos, aprende a tomar decisiones…aprende a masticar aunque no
                    tenga dientes… aprende a deglutir sólidos y aprende sobretodo que comer es agradable.<b class="quotes">"</b>
                    <footer>Dr. Carlos González, pediatra y escritor</footer>
                </p>
            </blockquote>
            </br>
            <p>
                <b class="onceUpon">De acuerdo a algunos estudios </b>(como este y este) y quienes practicamos baby led weaning o auto alimentación se pueden observar ciertos beneficios para los bebés que comienzan la introducción a los sólidos de esta
                manera:
            </p>
            <br/>
            <h2>El bebé tendrá asociaciones positivas con la comida </h2>
            </br>
            <p>Al ser introducida de manera lúdica y divertida la comida. Si dejas que el bebé vaya a su ritmo y descubra por él mismo este nuevo universo, tendrá una relación saludable con la comida. No tendrás que pelear y suplicar para que tu hijo se
                siente a comer o se coma sus zanahorias. La comida será un placer para él desde pequeño. Este es uno de los objetivos más importantes de baby led weaning o alimentación: establecer una relación positiva con la comida. La hora de la comida
                no sera batalla ni una “lucha de poder” sino una experiencia positiva.
            </p>
            <br/>
            <h2>Los papás reconocen y respetan las señales de saciedad</h2>
            </br>
            <p>
                Disminuyen el riesgo de obesidad infantil comparados a los bebés que los alimentan los papás. ¿Por qué? Porque al alimentar con cuchara, son los papás quienes están en control. Ellos deciden qué tan deprisa come el bebé y la cantidad, muchas veces ignorando
                las señales de saciedad. Es muy común oír a papás decir, “un cucharada más” o “te falta un poco para terminar el frasco”. Esto contribuye a un exceso en calorías y más alarmante aún, a una desensibilización a la capacidad que tienen los
                bebés de auto regulación (saber cuando están satisfechos y dejar de comer). Esta capacidad la podemos observar con los bebés amamantados: cuando están satisfechos, dejan de comer y la mamá comprende que la comida ha terminado porque a
                diferencia de una botella, un seno no puede ser forzado dentro de la boca del bebé.
            </p>
            <br/>
            <h2>Se familiarizan con diferentes texturas y sabores</h2>
            </br>
            <p>
                Desde pequeños se familiarizan con diferentes texturas y sabores, desarrollando un paladar diverso y propiciando a que sean buenos comedores de grandes. También existen estudios que demuestran que a los bebés a quienes se les introduce una variedad de
                alimentos a temprana edad son
                <%=link_to "menos propensos a sufrir de alergias", pages_alergias_path%> de más grandes.
            </p>
            <br/>
            <h2>Es una excelente manera de practicar su coordinación</h2>
            </br>
            <p>
                Desarrollan dexteridad manual y ayuda su coordinación óculo-manual (tomar cosas con la mano y coordinar hasta llevarlo a la boca).
            </p>
            <br/>
            <h2>Se respeta el ritmo natural de deglución y masticación</h2>
            </br>
            <p>
                Aprenden a masticar en el momento preciso: primero aprenden a masticar y luego a deglutir sólidos disminuyendo el riesgo de ahogamiento. Esto es porque los bebés no son capaces de tragar sólidos sin
                <%=link_to "reflejo nauseoso", pages_reflejo_nauseoso_path%>
                    hasta no desarrollar la capacidad de masticar. Y no desarrollan esta habilidad hasta después de tener la capacidad de agarrar cosas (motricidad gruesa). Por eso es uno de los requisitos para saber si tu bebé está listo para comenzar con solidos. El “agarre
                    de pinza” (motricidad fina) se desarrolla aun después. Este orden natural de desarrollo ayuda a disminuir el riesgo de ahogamiento.
            </p>
            <br/>
            <h2>Tu bebé participa en la comida familiar</h2>
            </br>
            <p>
                El bebé forma parte de la comida familiar, participa de igual manera que los demás integrantes de la familia. Aunque sean sólo ustedes dos, siéntense en la mesa y disfruten de su companía y de la comida. Trata de hacer al menos una comida familiar (con
                todos los integrantes de la familia) una vez al día, la cena o el desayuno por ejemplo y si no se puede los fines de semana.
            </p>
            <br/>
            <h2>Pero no hay que olvidar...</h2>
            </br>
            <p>
                Aunque hay muchos beneficios para hacer baby led weaning o auto alimentación, debes tener en cuenta algunas cosas:
            </p>
            <br/>
            <ul>
                <li>
                    <p>
                        <b>Es un batidero!</b> Los primeros meses todo terminara batido: el bebé, su ropa, la silla, el piso. Vas a tener que limpiar y lavar todo cada vez que tengan una ‘sesión’ de comida.
                    </p>
                </li>
            </ul>
            <br/>
            <ul>
                <li>
                    <p>
                        <b>Puede ser muy lento.</b> Dependiendo del dia y el humor de tu bebé, habrá días que juegue encantado con su comida media hora sin probar bocado. Tienes que tener paciencia y recordar que lo estás introduciendo a un nuevo mundo,
                        deja que descubra a su tiempo, no lo apresures. Además los primeros meses la cantidad que comen es prácticamente nula, pero no pierdas la paciencia, aunque parezca que sólo juegan están desarrollando importantes habilidades. Espera
                        un poco más y pronto te sorprenderás de cuánto come! Además no olvides que su principal fuente de nutrición es la leche y sus tomas deben de seguir exactamente iguales.
                    </p>
                </li>
            </ul>
            <br/>
            <ul>
                <li>
                    <p>
                        <b>Puede haber un riesgo de deficiencia de hierro.</b> Por eso se debe privilegiar
                        <%=link_to "alimentos altos en hierro", pages_hierro_path%> como la carne, pescado, pollo y huevo. Pero este riesgo también existe si decides dar purés y papillas, el 38% de bebés mexicanos entre 12 y 23 meses tienen anemia por deficiencia de hierro. Sea cual sea la técnica de alimentación
                            que hagas (papillas, baby led weaning o lo que sea), asegura de incluir alimentos altos en hierro desde el primer día.
                    </p>
                </li>
            </ul>
            <br/>
            <p>
                Y no es un todo o nada. Algunas familias deciden combinar purés con baby led weaning. Los purés son prácticos y hay unos que son hechos de 100% frutas o verduras, sin azúcar ni conservadores. También hay bebés para quienes baby led weaning o auto alimentación
                <%=link_to "no es recomendado.", pages_cuando_no_hacer_blw_path%> Lo importante es que funcione para ti y tu familia. Además
                    <%=link_to "hay conceptos de baby led weaning", pages_consejos_para_todos_path%> o auto alimentación que son útiles para todos.
            </p>
        </div>
    </div>
</div>