<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Consejos para todos</h1>
            <div>
                <img src="/assets/AguacateAprende.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                <b class="onceUpon>">Alrededor de baby led weaning existen muchos conceptos </b>que no le son exclusivos, sino más bien pueden ser aplicados por todas las familias sin importar de que manera le dan de comer a sus hijos. Aquí algunos de
                los conceptos más importantes que puedes comenzar a hacer desde hoy:
            </p>
            <h2>Respetar las normas básicas de seguridad</h2>
            <ul>
                <li>
                    <p>
                        No comiences la alimentación complementaria antes de que
                        <%=link_to "tu bebé esté listo.", pages_edad_para_empezar_blw_path%>
                    </p>
                </li>
                <li>
                    <p>Dale a tu hijo comida sin sal, conservadores ni azúcar y evita alimentos procesados.</p>
                </li>
                <li>
                    <p><b>Nunca dejes a tu hijo solo mientras come.</b></p>
                </li>
                <li>
                    <p>No le des
                        <%=link_to "comida redonda", pages_alimentos_peligrosos_path%> sin cortar verticalmente como las uvas y los jitomates cherry hasta que tengan mas de 5 años.</p>
                </li>
                <li>
                    <p>
                        Tu hijo debería comer de preferencia sentado pero sino <b>nunca mientras corre,</b> muchos accidentes pasan cuando el niño le da un último bocado y se va corriendo. En ese momento se puede ahogar.
                    </p>
                </li>
            </ul>
            <h2>Establecer una buena relación alimenticia</h2>
            <p>
                Nunca uses la comida como recompensa ni castigo. Hábitos alimenticios sanos comienzan desde la infancia. Si la hora de la comida es un momento de placer y convivencia, estás estableciendo patrones sanos entre la comida y tu hijo. En cambio si la hora
                de la comida se convierte en un campo de batalla y una lucha de poder, tu hijo tendrá asociaciones negativas con la comida que podrían persistir toda su vida.
            </p>
            <h2><!--<a id="nuevastexturas">-->La alimentación complementaria es educacional no nutricional<!--</a>--></h2>
            <p>
                Si comienzas con purés o de cualquier otra manera, no olvides que la alimentación complementaria <em>complementa</em>, no remplaza, las tomas de leche (por eso se le dice alimentación complementaria).
                <b>La leche sigue siendo la fuente principal de nutrición</b> hasta
                <%=link_to "alrededor de los 12 meses", pages_cantidades_path%>. Antes de eso la comida sirve para introducirle a tu bebé nuevas texturas y sabores entre otras cosas.
            </p>
            <h2>Reconocer las señales de saciedad</h2>
            <p>
                Reconocer las señales de saciedad y confiar en que tu bebé ya está satisfecho. Habrá días que coma mucho y otros no tanto, igual que tú y todos. Respeta cuando te muestra, o dice si es mayor y ya habla, que ya no quiere. <b>Esta habilidad que tiene para
                reconocer que está satisfecho es primordial para evitar la obesidad infantil y mantenerse sano</b>. Si tu bebé continúa en su peso, crece y tiene la misma energía y vitalidad que siempre, no te preocupes si uno o dos días come menos de
                lo normal.
            </p>
            <p>
                Recuerda que algunas señales de saciedad son:
                <ul>
                    <li>
                        <p>
                            Se muestra inquieto o ya no muestre interés por lo que estan haciendo
                        </p>
                    </li>
                    <li>
                        <p>
                            Comienza a tirar todo lo que le pongas enfrente
                        </p>
                    </li>
                    <li>
                        <p>
                            Se quiere salir de su silla
                        </p>
                    </li>
                </ul>
            </p>
            <h2>No comenzar la alimentación complementaria antes de tiempo</h2>
            <p>
                Esperar a que tu bebé esté listo para comenzar sólidos. Si tiene menos de 6 meses, es poco probable que tu bebé esté listo. Si todavía tiene el
                <%=link_to "reflejo de extrusión, ", pages_reflejo_extrusion_path%> es un claro indicador de que no está listo. Estas son
                    <%=link_to "indicaciones para saber si tu bebé está listo ", pages_edad_para_empezar_blw_path%>para comenzar una alimentación complementaria.
            </p>
            <h2>Tu bebé es único</h2>
            <p>
                Recordar que cada bebé es único y pasa por etapas. Lo que te funcionó con un hijo tal vez no funcione con otro. Y lo que le encantaba a tu bebé ayer, hoy tal vez no sea el caso. Un rechazo, (o dos o trece!) no es razón para dejar de ofrecerle el alimento.
                Algunos estudios, como <a href="http://www.ncbi.nlm.nih.gov/pubmed/12781165" target="_blank">este</a> sugiere que debes de <b>introducir un 
                alimento entre 15 y 20 veces</b> para asesorar si realmente no le gusta ese alimento a tu niño. Esto quiere decir que si parece que no le gusta la pera, vuelve a intentarlo otro día y al menos unas 15 veces más antes de decretar que no
                le gusta y olvidarlo.
            </p>
            <p>También es bueno saber que los bebés suelen ser más aventureros y <%= link_to "dispuestos a aceptar comidas diferentes", pages_introduccion_de_sabores_path%> que los niños de 2 años. Entonces no te sorprendas que tu bebé devorador de mango y aguacate de repente los rechace. Sigue ofreciéndoselos
                y muy probablemente se los volverá a comer.
            </p>
        </div>
        <div class="row">
            <a href="/pages/introduccion_de_sabores">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/851x315/Introduccion de sabores.jpg" alt="Responsive image" class="img-fluid img-responsive">
                        <div class="caption">
                            <h3>Desarrolla su paladar</h3>
                            <p>Podría aprender a gustarle cualquier comida de cualquier cultura del....</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/pages/hierro">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/PepperMeat851.jpg" alt="Responsive image" class="img-fluid img-responsive">
                        <div class="caption">
                            <h3>La importancia del hierro</h3>
                            <p>La falta de hierro afecta el desarrollo cerebral y puede causar problemas...</p>
                        </div>
                    </div>
                </div>
            </a>
           <a href="/pages/edad_para_empezar_blw">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="/assets/Banana.jpg" alt="Responsive image" class="img-fluid img-responsive">
                            <div class="caption">
                                <h3>¿A qué edad empezar?</h3>
                                <p>Mira este video para saber si tu bebé está listo para empezar ...</p>
                            </div>
                        </div>
                    </div>
                </a>
        </div>
    </div>
