<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">¿Qué es baby-led weaning?</h1>
            <div>
                <img src="/assets/ComiendoEmpanada.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                <b class="onceUpon">De manera muy resumida,</b> es una manera de comenzar la introducción de sólidos sin purés ni papillas. Por sólidos se entiende cualquier otra cosa diferente a la leche materna o fórmula, ya que durante los primeros
                6 meses la dieta del bebé debe ser única y exclusivamente leche. Ojo, los sólidos <em>complementan</em> la leche, no son la fuente de nutrición principal.
            </p>
            <br/>
            <p>
                <%=link_to "Alrededor de los 6 meses", pages_edad_para_empezar_blw_path%>, el sistema digestivo del bebé comienza a madurar y a estar listo para algo diferente a la leche materna (o fórmula). Es entonces que tienes la opción de introducir a tu bebé el maravilloso mundo de la comida.
            </p>
            <br/>
            <p>
                Para ello existen muchas técnicas. Y aunque comenzar a darle cucharaditas de purés y papillas sigue siendo la más conocida, existen otras. Eso es lo que es la auto alimentación: una manera de introducir sólidos en la cual tu bebé sea quien mande. De ahí
                el término en inglés “baby-led”, oseáse dirigido por el bebe y “weaning”, en el sentido británico que quiere decir <em>complementar</em> la alimentación del bebé con sólidos.
            </p>
            <br/>
            <p>
                Con baby led weaning o auto alimentación puedes ofrecerle a tu bebé <%=link_to "comida apropiada para su edad", pages_tipo_de_comida_blw_path%>, cortada o ligeramente machacada, que él mismo agarre (o aplaste) y meta a su boca (eventualmente). Tu le proporcionas la comida, él decide cómo y cuánto
                comer. Es importante que respetes su ritmo y dejes que sea él quien controle lo que meta a su boca, <em><b>tú 
            nunca debes de introducirle algo a la boca!</b></em>
            </p>
            <br/>
            <blockquote>
                <p class="quoteContent">
                    <b class="quotes">"</b>El objetivo de la alimentación infantil no es nutricional...es educacional. Le damos otros alimentos porque tiene que ir aprendiendo a comer normal.<b class="quotes">"</b> </p>
                <footer>Dr. Carlos González, pediatra y escritor</footer>
            </blockquote>
            <br/>
            <p>
                Baby led weaning o auto alimentación es una manera natural y divertida de comenzar una nueva etapa. Tiene muchos
                <%=link_to "beneficios", pages_beneficios_blw_path%> pero se debe saber de qué manera
                    <%=link_to "hacerlo correctamente", pages_guia_para_empezar_blw_path%>. Te recomiendo que leas ampliamente acerca de este método y decidas si es adecuado para tu familia. Además de este sitio, incluyo un enlace a algunos libros entre ellos el de Gill Rapley, quien es quien acuñó el término “baby led
                        weaning” y la autora del libro de referencia, el de Carlos González, otra referencia en España.</p>
            <br/>
            <p>
                Puedes decidir mezclar baby led weaning o autoalimentación con ocasionales purés y papillas. Esto también se vale, no es todo o nada. El chiste es que funcione para ti y tu familia. Y aún si decides comenzar, o continuar, alimentando a tu hijo de otra
                manera te recomiendo echar un ojo a
                <%=link_to "esta sección", pages_consejos_para_todos_path%>.
            </p>
        </div>
    </div>
</div>