<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">¿Cuándo comenzar BLW? </h1>
            <div>
                <img src="/assets/Banana.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p>
                <b class="onceUpon">Los expertos recomiendan una dieta exclusiva de leche materna</b> hasta los 6 meses de edad y hasta los 2 años en complemento a los sólidos. Es entre los 6 y 7 meses de edad que el aparato digestivo de tu bebé está
                lo suficientemente maduro para comenzar la alimentación complementaria. Sin importar de qué manera lo vas a hacer, espérate hasta que tenga al menos 6 meses y aún mejor hasta que cumpla con los requisitos que se enlistan abajo:
            </p>
            <br/>
            <p>
                Cuándo comenzar con sólidos depende de tu bebé. El será quien te indique si está físicamente desarrollado y listo. Recuerda que cada niño es diferente y se desarrolla a su propio paso. Reitero que esta lista<em> debería aplicarse para cualquier manera de
            comenzar la alimentación complementaria</em> pero es <b>IMPERATIVA si practicas baby led weaning</b> o alimentación autorregulada. En este caso, tu bebé tiene que cumplir con <u>todos los requisitos antes de comenzar</u>:
            </p>
            <div class="containerVid center">
                <div class="row"></div>
                <div class="center">

                    <h2 id="videoCarlosTed">¿Cómo saber si tu bebé está listo?</h2>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/exhLKNl0XpQ"></iframe>
                    </div>
                    </br>
                    <p>Un video de un minuto para conocer las señales que está listo para empezar.
                    </p>
                </div>
            </div>
            <br/>
            <h2>Esperáte hasta los 6 meses</h2>
            <p>
                Tu bebé tiene al menos 6 meses, no hay ninguna urgencia por comenzar, la leche materna lo abasta con todo lo que necesita entonces no te preocupes si tu bebé no parece estar listo hasta unas semanas después. No hay nada mágico que sucede a los 6 meses
                pero suele ser que es en este momento cuando muchos bebés cumplen con estos requisitos. En cambio es raro que esto suceda antes de este tiempo.
            </p>
            <br/>
            <h2>Tu bebé se sienta derecho (con o sin ayudaa)</h2>
            <p>
                Tu bebé mantiene la cabeza perfectamente levantada, es capaz de sentarse cómodamente en una silla de bebé y mantener perfecto control de su cabeza. No quiere decir que se pueda sentar solo sin apoyo pero sí <b>debe poderse sentar derecho
                en una silla</b>. ¿Porqué? Porque a la hora de comer, la cabeza, garganta y estómago de tu bebé deben estar perfectamente alineados para asegurar que nada se le 'vaya chueco'.
            </p>
            <p>
                Como se puede ver en la foto de arriba, este bebé tiene un excelente soporte de cabeza. Su espalda y cabeza estan derechas y alineadas. Pero esto es gracias al soporte de la silla y el cojín rojo que tiene atrás ya que todavía no se puede sentar sola.
                Entonces no importa si se sienta con o sin asistneencia el chiste es que su cabeza y espalda esten derechas y tenga perfecto control de cabeza.</b>
            </p>
            <br/>
            <h2>Desaprición del reflejo de extrusión</h2>
            <p>
                Tu bebé ya no tiene el
                <%=link_to "reflejo de extrusión", pages_reflejo_extrusion_path%>, el movimiento que hace tu bebé con su lengua para <b>expulsar cualquier no-líquido de su boca</b>. Este reflejo cuida a tu bebé ya que se expulsa al exterior cualquier cosa otra que la leche. Es su manera de decirnos que todavía no estan
                    listos para ningun otro alimento.
            </p>
            <br/>
            <h2>Desarrollo motor grueso</h2>
            <footer>
                Foto: <a href="https://www.flickr.com/photos/deanwissing/">Dean Wissing</a>
            </footer>
            <img class="imageText" src="/assets/BlueberriesOne.jpg" class="img-fluid img-responsive" alt="Responsive image">
            <p>
                <b>Tu bebé es capaz de agarrar objetos y llevárselos a la boca</b>, aunque todavía no domine el agarre de pinza (tomar objetos entre el pulgar y el índice). Éste normalmente es adquirido a partir del 8avo mes y es importante para atrapar
                objetos pequeños como chícharos. Al principio tal vez no coma nada pero por el momento, la alimentacionión complementaria es educacional, no nutricional.
            </p>
            <p>
                Sin embargo sí debe ser capaz de llevarse las cosas a la boca. Y conforme vaya practicando, irá comiendo cada vez más. Pero el primer mes no "comen" más de una cucharadita entonces no te preocupes si parece que no come nada. Recuerda que <b>la leche 
                sigue siendo la principal fuente de nutrición.</b> Lo importante es que veas que tu bebé se lleva cada vez más comida a la boca y va comiendo cada vez más.
            </p>
            <br/>
            <h2>Muestra interés a la hora de la comida</h2>
            <p>
                Tu bebé muestra interés cuando comes, está interesado en lo que haces a la hora de comer y sobre lo que hay en tu plato. Tal vez trate de robarte un pedazo de lo que estés comiendo.
            </p>
            <br/>
            <h2>No se trata de nutrición</h2>
            <p>
                No olvides que baby led weaning es lento y requiere de paciencia sobre todo al principio. Pero <b>la alimentación complementaria no debe ser nutricional sino educativa:</b></p>
            <ul>
                <li>
                    <p>
                        Tu bebé practica su motricidad gruesa y óculo-manual (agarra un objeto y se lo lleva a la boca)
                    </p>
                </li>
                <li>
                    <p>
                        Descubre texturas y sabores </p>
                </li>
                <li>
                    <p>
                        Aprende a convivir en la mesa </p>
                </li>
                <li>
                    <p>
                        Aprende a tomar decisiones (¿le gusta o no lo que probó?) </p>
                </li>
                <li>
                    <p>
                        Y muchos
                        <%=link_to "otros beneficios", pages_beneficios_blw_path%> más. </p>
                </li>
            </ul>
            <br>
            <p>Si quiere saber cuánto debería estar comiendo lee
                <%=link_to "'Cantidades'", pages_cantidades_path%> en la sección de
                    <%=link_to "'Nutrición'", pages_nutricion_path%>.
            </p>
            </br>
            <p>
                Para comenzar con baby led weaning o alimentación autorregulada, tu bebé tiene que cumplir con <u>todos los requisitos</u>. Si le falta alguno, todavía no está físicamente listo y <b>no debes de intentarlo </b>ya que lo podrías poner en
                peligro. Tu bebé estará listo a su ritmo y cuando lo esté podrás comenzar baby led weaning o alimentación autorregulada.
            </p>
            </br>
            <p>
                Hasta entonces ten paciencia y continúa dándole sus tomas de leche. No te preocupes por los nutrientes, la leche materna tiene todo lo que necesita. Consulta con tu pediatra antes de empezar para saber si este método es adecuado para ti y tu bebé. No
                hay ninguna razón por la cual no lo sea
                <%=link_to "al menos", pages_cuando_no_hacer_blw_path%> de que tu bebé tenga algun impedimento físico o un retraso en el desarrollo, haya nacido prematuro (menos de 37 semanas de gestación) o tenga problemas para deglutir o comer.
            </p>
        </div>
    </div>
