<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Tu guía de BLW</h1>
            <div>
                <img src="https://lh3.googleusercontent.com/-pYC6eKkDi0k/Vup4D_LPUFI/AAAAAAAAAHc/5Y3LvalrrlYeiWBsyFqkuBVUe-n_mjPXwCCo/s851-Ic42/Guia%2Bempezar%2Bpage.png" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>
            <p><b class="onceUpon">¡Por fin tu bebé cumple con <%= link_to "todos los requisitos", pages_edad_para_empezar_blw_path%> para empezar sólidos!</b> Es un momento muy emocionante porque empieza una etapa muy divertida. Si ya te decidiste empezar con baby led weaning
                o auto alimentación abajo está una guía que te ayudará a saber ¿por dónde empezar?, ¿qué puedes esperar? y ¿qué vas a necesitar?</p>
            <h3 class="entry-content">La silla</h3>
            <p>
                Para empezar BLW es necesario tener una sillita donde el bebé pueda sentarse cómodamente y estar siempre derecho. Esto es primordial para su seguridad: su cabeza y espalda deben de estar siempre derechas y alineadas. BLW implica batidero. Todo va a acabar
                batido: bebé, silla, piso y si las cortinas están cerca también. Por eso entre más ‘básica’ sea la silla, mejor. Esas sillitas preciosas con asientos de tela van a volverse tu pesadilla. El asiento de tela lo tendrás que lavar después
                de cada comida. Lo más fácil y práctico es una silla de plástico con charola. Algo facil de lavar, incluso que podrías meter a la regadera o limpiar a manguerazos (créeme que a veces es lo más fácil!) es lo mejor.
            </p>
            <h3 class="entry-content">Tipo de comida</h3>
            <p>
                Vas a necesitar comida. Olvídate de la ‘comida de bebé’, comida es comida. Mientras no tenga sal ni aditivos, le puedes dar una
                <%=link_to "gran variedad de alimentos", pages_tipo_de_comida_blw_path%>. Para asegurar que no tenga ni sal ni aditivos es mejor prepararla tú. Los bebés tienen un paladar inquisitivo y les gusta la comida con sabor, igual que a nosotros. Usa hierbas y especias. Zanahoria cocida con un poquito de ajo y cilantro
                    (muy bien lavado y desinfectado), una rebanada de manzana bien cocida con canela y jengibre o un pedazo de pollo con curry. Trata de privilegiar comida
                    <%=link_to "alta en hierro", pages_hierro_path%> y con un contenido alto de energia
            </p>
            <h3 class="entry-content">Cantidades</h3>
            <p>
                Ofrécele medio plátano, dos o tres tiritas de zanahoria o tres espaguetis. Tu bebé descubre todo por primera vez, no lo abrumes con mucha comida ni mucha variedad. Al principio deja que comprenda de qué se trata y desarrolle su habilidad de llevarse comida
                a la boca. Después sí debes de ofrecer
                <%=link_to "una alimentación variada", pages_tipo_de_comida_blw_path%> pero al principio una o dos cosas es más que suficiente. Empieza con una comida al día y trata de incrementar una comida gradualmente hasta llegar a 5 comidas (3 comidas y 2 snacks) a los 12 meses. Recuerda que esto es una guía, cada bebé
                    es diferente, pueden tardar más o menos. Si te preocupa que tu bebé no está comiendo lo suficiente, écha un ojo
                    <%=link_to "'Cantidades'", pages_cantidades_path%> en la sección de
                        <%=link_to "'Nutrición'", pages_nutricion_path%>
                            para darte una idea de lo que se recomienda comer a cada edad. Y no olvides que hasta los 12 meses la leche sigue siendo su fuente principal de nutrición.
            </p>
            <h3 class="entry-content">El tamaño</h3>
            <p>
                El tamaño importa. Piensa en una papa a la francesa como el largo ideal. El chiste es que tu bebé pueda agarrarlo fácilmente, sobre todo si todavía no domina el agarre de pinza (tomar objetos entre el pulgar y el índice) que normalmente aparace alrededor
                del 8avo mes. Si el pedazo es muy pequeño, tu bebé no podrá recogerlo y llevárselo a la boca. Debe ser lo suficientemente largo para poder agarrarlo con el puño y que le sobre una buena parte para llevarlo a la boca. De otro modo tendrá
                que abrir su puño para meterse el pedazo a la boca y esto puede resultar muy complicado y frustrante.
            </p>
            <h3 class="entry-content">Textura</h3>
            <p>
                La textura ideal es aquella que puedas deshacer fácilmente cuando la aplastas entre tu pulgar e índice. La fruta como el plátano, la fresa, el mango y el aguacate se le pueden dar crudos. La manzana por ejemplo debes cocerla al vapor, horno o como prefieras
                hasta que consiga una textura suave. Puedes agregarle canela o un poco de jengibre si gustas. A los bebés les encantan las especias, ¡ya veras!
            </p>
            <h3 class="entry-content">La hora</h3>
            <p>
                Es importante elegir en qué momento del día comienzas a darle de comer. Como al principio no comen mucho (o nada), es mejor que a tu bebé lo sientes a ‘comer’ justo después de haber tomado su leche y su siesta. Un bebé que tiene hambre o está cansando
                va a estar molesto y no tendrá ni el humor ni la paciencia para explorar lo que le pongas enfrente. También es importante que el bebé coma acompañado. Si puedes, trata de sentar al bebé a la hora de comer y dale lo mismo que comas tu,
                <%=link_to "si es apropiado", pages_tipo_de_comida_blw_path%>. Los bebés aprenden por imitación: quieren hacer todo lo que nosotros hacemos. Entonces incorporarlo a la hora de la comida familiar es un excelente momento! En caso de que esto no sea posible, siéntate a comer al menos una botana o lo
                    que coma tu bebé y disfruten de un momento juntos.
            </p>
            <h3 class="entry-content">Frecuencia</h3>
            <p>
                Al principio puedes hacerlo una vez al día, recordando que no estás sustituyendo ninguna comida. El bebé continúa con sus tomas de leche normales solamente que ahora tienen una nueva actividad. Progresivamente y como vaya mejorando su habilidad, podrás
                aumentar la frecuencia a dos o tres veces al día. Es por eso que a la hora de escoger qué alimentos dar, elije comida
                <%=link_to "alta en hierro", pages_hierro_path%> y de alto contenido energético. Trata de
                    <%=link_to "aumentar una comida cada mes", pages_cantidades_path%> para estar en 3 comidas al final del 8avo mes y 3 comidas y 2 colaciones a los 12 meses.
            </p>
            <h3 class="entry-content">Señales de saciedad</h3>
            <p>
                Cuando tu bebé comience a tirar repetitivamente las comida, se distraiga con otras cosas, te estire los brazitos o empieza a mostrarse inquieto, todas estas son muestras que ya termino. Es importante seguir respetando las señales de saciedad de tu bebé
                ya que si los ignoras puedes sobrealimentarlos y esto aumenta el riesgo de sobrepeso además de causar enojo y frustracion. Recuerda que uno de los conceptos más importantes de BLW es crear experiencias positivas con la hora de comer para
                fomentar una relacion positiva entre tu bebé y la comida.

                <p>
                    Si tu bebé ha sido amamantado es probable que conozcas los signos de saciedad. Si le has dado botella (fórmula o leche materna) puedes leer la sección de
                    <%=link_to "'Bebés de botella'", pages_botella_path%> para familiarizarte en caso de que no los conozcas. Es muy importante reconocerlos sobre todo ahora que comienza sólidos porque progresivamente tomará menos leche y debes ajustar las cantidades de acuerdo a las necesidades de tu bebé.
                </p>

            </p>
            <h3 class="entry-content">Platos y cucharas</h3>
            <p>
                ¿Para qué? Lo puedes intentar si quieres pero para lo único que sirven los platos en este 
                momento son para tirar o golpear y hacer ruido. Ofrécele la comida en la charola de su sillita. Claro conforme tu bebé vaya creciendo
                y practicando, su coordinación mejorará, y entonces puedes ofrecerle un plato de frijoles, yogur o hummus con una cuchara.
            </p>
                </br>
            <p> 
                Sólo no vayas a esperar que le atine a su boca las primeras veces, es más, tal vez ni trate de llevar la cuchara
                a la boca sino se dedique a tirarla y usarla como catapulta. Pero ten la seguridad que si lo dejas practicar, pronto
                estará comiendo con cuchara (o al menos más acabará en su boca que en el piso).
            </p>
            <h3 class="entry-content">Una actividad</h3>
            <p>
                Sobre todo al principio, piensa en la hora de la comida como una actividad más en la rutina de tu bebé. La hora del baño es para lavarse, la hora de la siesta es para dormir y la hora de la comida (al menos por ahora) es la hora para divertirse y descubrir
                colores, texturas y uno que otro sabor. Porque al principio tu bebé tal vez no se lleve nada a la boca, entonces es mejor que pienses en esto como una actividad divertida. El chiste es que tu bebé comience a tener una excelente relación
                con la comida, una relación sana que le dure para toda su vida. Si te enojas o desesperas tu bebé no querrá repetirlo. Las primeras semanas o meses, tu bebé lograra comer
                <%=link_to "realmente muy poco", pages_cantidades_path%>, pero descubrirá un mundo extraordinario de texturas, colores, olores y sabores. Va a anticipar el momento de sentarse en su sillita y esto comenzará una buena relación entre tu bebé y la comida. Poco a poco, irá comiendo más y más hasta
                    ser un campeón comelón! Y mejor aún, no habrá lugar en tu casa para las batallas a la hora de comer.
            </p>
        </div>
    </div>
</div>