<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Ideas de Comida</h1>
            <div>
                <img src="/assets/9 Plates with numbers.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            <div>
                <br>
                <p>
                    ¿Buscas inspiración para la hora de comer? Aquí hay algunas ideas: algunas nuevas, otras con distinta presentación pero ojalá encuentres algo rico que les guste a tus comelones. 
                    Aunque todo se lo puedes ofrecer a tu bebé a partir de los 6 meses de edad si ya cumple con <%= link_to "los requisitos", pages_edad_para_empezar_blw_path%>, 
                    debes ajustar tanto <%= link_to "las porciones", pages_cantidades_path%> como <%= link_to "el tamaño de los alimentos", pages_tipo_de_comida_blw_path%> de acuerdo a su edad.  
                </p>
                <div>
                    <img src="/assets/Platos/Mac & Cheese small.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
                    <p>
                        <b><%= link_to "Muffins de Macaroni and Cheese", pages_mac_and_cheese_path%></b>
                    </p>
                    <p>
                        Hacer Mac & Cheese (como le dicen en USA) es fácil, rápido y nutritivo. 
                        Pasta, queso, leche y especias son ingredientes sanos y nutritivos. Esta 
                        receta también incluye un huevo y avena lo que la hace una excelente fuente 
                        de proteína y <b><%= link_to "hierro", pages_hierro_path%></b> respectivamente.
                    </p>
                    <p>
                        Acompañarlo con brócoli al vapor y rebanadas de sandía, ambas altas en <b>vitamina C</b> para 
                        ayudar la absorción de hierro. 
                    </p>
                </div>
                <div>
                    <img src="/assets/Platos/French Toast small.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
                    <p>
                        <b>Pan francés</b> (receta próximamente)
                    </p>
                    <p>
                        Pan, huevo, jengibre, canela y... zanahoria para darle aumentar su valor nutricional. 
                        El huevo es buena fuente de proteína.
                    </p>
                    <p>
                        Lo puedes acompañar con una ricas fresas, que tienen mucha <b>vitamina C</b> y unas rebanadas de queso, fuente de Calcio.
                    </p>
                </div>
                <br>
                <div>
                    <img src="/assets/Platos/Enchiladas Small.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
                    <p>
                        <b>Enchiladas para bebé</b> (receta próximamente)
                    </p>
                    <p>
                        Nuestros comelones más pequeños (a partir de los 6 meses si ya cumple con <%= link_to "los requisitos", pages_edad_para_empezar_blw_path%>) pueden empezar a probar este platillo tradicional que además de 
                        delicioso, es una excelente comida: tortilla de maíz, queso y salsa de tomate verde (tomates verdes 
                        cocinados con un poco de cebolla y licuados).
                    </p>
                    <p>
                        Aquí el <b><%= link_to "hierro", pages_hierro_path%></b> está en el acompañamiento: los frijoles! 
                        Y las rebanadas de aguacate proporcionan la <b>vitamina C</b> entre muchos otros nutrientes.
                    </p>
                </div>
                <div>
                    <img src="/assets/Platos/Hachi small.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
                    <p>
                        <b>Hachis Parmentier (receta próximamente)</b>
                    </p>
                    <p>
                       Receta tradicional francesa: carne molida y puré de papa. La carne molida 
                       es la proteína que proporciona el <b><%= link_to "hierro", pages_hierro_path%></b>. Es una 
                       comida deliciosa que seguramente se convertirá en una favorita de toda la familia.
                    </p>
                    <p>
                        No necesita mucho acompañamiento ya que el platillo lleva zanahoria y puré de papa 
                        pero aquí lo acompaña un poco de jícama y zanahoria. Y la piña (<b>vitamina C</b>) cocinada con un toque de canela. 
                    </p>
                </div>
                <div>
                    <img src="/assets/Platos/Boeuf Bourgignon small.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
                    <p>
                        <b><%= link_to "Boeuf Bourguignon", pages_carne_borgona_path%>
                    </p>
                    <p>
                        Otra receta tradicional francesa, de la región de Borgoña. Lleva carne, papas y zanahorias. 
                        Tanto la carne como la quinoa que lo acompaña son ricas en <b><%= link_to "hierro", pages_hierro_path%></b>.
                    </p>
                    <p>
                        La quinoa contiene 16 aminoácidos, incluyendo todos los esenciales, además de fibra y antioxidantes. Como 
                        postre hay unas uvas cortadas verticalmente ya que son un <%= link_to "riesgo de ahogamiento", pages_lista_alimentos_peligrosos_path%> hasta los 5 años de edad.
                    </p>
                </div>
                <div>
                    <img src="/assets/Platos/Ratatouille small.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
                    <p>
                        <b>Sandwichitos y <%= link_to "Ratatouille", pages_ratatouille_path%></b>
                    </p>
                    <p>
                        El clásico sandwich de jamón con queso, presentados de una manera tierna y original. Con 
                        pan 100% integral y un buen queso, es una comida rapida y saludable. Asegúrate que sea un buen queso y 
                        no del tipo Kraft y co. Una rebanada de jamón proporciona aproximadamente 5g de proteína (se recomienda 1g de 
                        proteína por kilo que pese tu hijo).
                    </p>
                    <p>
                         <%= link_to "La Ratatouille", pages_ratatouille_path%>, un clásico francés: pimientos rojos y calabacitas. Es una increíble fuente de <b>vitamina C</b>.
                    </p>
                </div>
                <div>
                    <img src="/assets/Platos/Salmon small.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
                    <p>
                        <b>Salmón Agriducle</b> (receta próximamente)
                    </p>
                    <p>
                       El salmón es una excelente fuente de proteína y además de ser rico en Omega-3 y Omega-6, también 
                       es excelente fuente de vitaminas (B12, D, B3) y minerales como Selenio y Fósforo entre otros. 
                    </p>
                    <p>
                        Lo acompañan unos lindos "listones" de calabacitas (<b>vitamina C</b>) y zanahorias (vitamina A). 
                        Con un pelador, pela hacia lo largo. Las puedes cocinar con jengibre y ajo para seguir con el 
                        toque oriental. De postre unas blueberries, riquísimas en antioxidantes y fibra. 
                    </p>
                </div>
                <div>
                    <img src="/assets/Platos/Rollitos small.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
                    <p>
                        <b>Rollitos de jamón y queso</b> (receta próximamente)
                    </p>
                    <p>
                        Rollitos o 'makis' es una manera diferente y divertida de comer jamón y queso. Tomas dos rebanadas de jamón y una grande de queso, lo haces un rollo apretado y luego lo cortas 
                        horizontalmente.
                    </p>
                    <p>
                        El acompañamiento de jícamas y pepinos, que en este caso están en la sección grande, son maravillosas fuentes de 
                        <b>vitamina C</b>, vitamina K y fibra, y también Potasio y un poco de <%= link_to "hierro", pages_hierro_path%>. Para completar, 
                        las frambuesas aportan una gran dosis de antioxidantes entre otras vitaminas y minerales. 
                    </p>
                </div>
                <div>
                    <img src="/assets/Platos/Pasta small.jpg" class="img-fluid img-responsive Thumbnail" alt="Responsive image">
                    <p>
                        <b>Pasta Pomodoro</b> (receta próximamente)
                    </p>
                    <p>
                        Esta pasta con salsa de jitomate es una receta deliciosa que tiene zanahoria y apio. Estos 
                        sirven para darle un sabor exquisito y aumentar el valor nutricional de esta receta. 
                    </p>
                    <p>
                        Una o dos rebanaditas de jamón como acompañamiento proporciona la proteína y la piña 
                        las <b>vitaminas C</b>, B6, B1 y fibra.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>