<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
                        <h1 class="entry-title">Nutrición</h1>
                        <div>
                <img src="/assets/Raspberries.jpg" class="img-fluid img-responsive center-block" alt="Responsive image">
            </div>
            </br>

            <p>
                <b class="onceUpon">Hasta al menos los 6 meses de edad,</b> la dieta 
                de tu bebé debe ser 100% exclusivamente leche materna o fórmula. Y esta 
                dieta cumple con todos los requerimientos nutritivos de tu bebé hasta 
                ese momento. Alrededor de los 6 meses, puede ser un poco antes o después, 
                tu bebé te indicará que esta listo para comenzar con sólidos. Recuerda que 
                cada bebé es único y diferente y hasta no cumplir con todos <%= link_to "los requisitos", pages_edad_para_empezar_blw_path%>, 
                no debemos introducir sólidos.
            </p>
            <br/>
            <p>
                Por sólidos, se entiende <b>cualquier cosa otra</b> que la leche. Y la introducción de 
                éstos únicamente <em><u>complementan </u></em>la dieta de tu bebé. Sobre todo durante los primeros 
                meses, <b>las tomas de leche deben continuar idénticas y seguirán siendo la fuente principal
                de nutrición de tu bebé.</b>
            </p>
            <br/>
            <p>
                Con baby led weaning o auto alimentación, si tu bebé ya cumple con todos 
                <%= link_to "los requisitos", pages_edad_para_empezar_blw_path%> y están listos para comenzar, al principio será una vez al 
                día o cada dos días. Recuerda que al principio tu bebé llevará muy poco o 
                <%= link_to "tal vez nada a la boca", pages_cantidades_path%>. Será más bien una actividad lúdica en la que 
                practica su coordinación óculo-manual y motricidad gruesa (llevar comida 
                con sus manos a la boca) y se familiarizará con diferentes texturas, 
                colores, olores y eventualmente sabores, <%= link_to "entre otros beneficios", pages_beneficios_blw_path%>.
            </p>
            <br/>
            <p>
                Y este es uno de los <%= link_to "principales objetivos de la introducción de sólidos", pages_consejos_para_todos_path%> 
                el primer año: <%#= link_to "introducir a bebé a nuevas texturas y sabores mientras", pages_consejos_para_todos_path(:anchor => "nuevastexturas") -%> 
                que aprende a masticar y deglutir pero sobre todo, aprende que comer es agradable. Si tu bebé sigue en su curva de peso* 
                y se está desarrollando normalmente, entonces está comiendo lo suficiente. 
                Baby led weaning o auto alimentación 
                confía en que tu bebé sabe cuando tiene hambre y cuando ha comido suficiente.
            </p>
            <br/>
            <p>
                A los bebés que se les permite alimentarse ellos mismo, parecen aceptar 
                una gran variedad de comidas. Esto es probablemente porque se concentran 
                no solamente en el sabor sino en la experiencia total; explorar la textura, 
                el color, tamaño y forma. Adicionalmente, con BLW los introducimos a especias, dándoles alimentos que saben 
                rico y no los típicos alimentos sosos sin sabor. ¿A ti te gusta la comida 
                desabrida? ¡A los bebés tampoco! Además al permitirles dejar lo
                que no quieran y tomar lo que sí, los alientas a probar cosas nuevas 
                y tener una experiencia positiva con la comida y la hora de comer.
            </p>
            <br/>
            <p>
                Dicho eso, el hierro es un aspecto muy importante para el desarrollo de 
                tu bebé y por eso se recomienda privilegiar <%= link_to "alimentos altos en hierro", pages_hierro_path%>. 
                Es recomendable dar al menos un alimento alto en hierro diariamente, sin importar de 
                qué manera se introduzca los sólidos (purés o BLW).
            </p>
            <br/>
            <p>
                Los principios generales de nutrición para niños aplican para los bebés 
                que administran su introducción a sólidos. Comida ‘rapida’ (McDonalds, 
                Dominos, Burger King) o preparada no son adecuadas por su alto contenido 
                de grasas y sobre todo sal. No le des azúcar y evita saborizantes 
                artificiales. Básicamente dale a tu bebé la comida que preparas tú, 
                evita agregarle sal y en su lugar utiliza especias para darles sazón. 
                Esto es un hábito excelente que podrás incorporar y continuar en tu vida
                díaria.
            </p>
            <br/>
            <p>
                *Ojo: si tu bebé ha sido amamantado exclusivamente desde que nació, 
                su peso podría ser menor que los bebe de fórmula ya que la leche materna 
                se ajusta al requerimiento calórico de tu bebé y la fórmula es estática, 
                por lo que algunos días aporta calorías de mas y esto puede resultar en 
                bebés de mayor peso. Lo que importa es que tu bebé siga en su curva. 
                Dicho de otra manera, si tu bebé siempre ha estado en el percentil 50, 
                que siga en el percentil 50.
            </p>
        </div>
    </div>
</div>