<div class="container">
    <div class="jumbotron vertical-center">
        <div class="container content">
            <h1 class="entry-title">Reglas de Seguridad</h1>

            <div class="containerVid center">
                <div class="row">
                    <div class="center">
                        
                            <h2 id="videoCarlosTed">Carlos González en TEDX Valencia</h2>
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vKioOmhIfGU"></iframe>
                            </div>
                            </br>
                             <p>Un video de 18 minutos, práctico y conciso. Se los recomiendo mucho.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container content">
                <p>
                    <b class="onceUpon">Normalmente asociamos a los bebés con papillas</b> y purés. Y hemos oído que todo tiene que estar machacado, licuado o ya cuando sean más grandes cortados en pedacitos muy chicos para que no se ahoguen. Entonces
                    cuando empecé a leer acerca de baby led weaning, de las primeras cosas en las que pensé fue acerca la seguridad de este método. ¿No se va a ahogar el bebé?
                </p>
                <br/>
                <p>
                    Al introducir sólidos, sea cual sea la técnica, es importante observar simples reglas de seguridad. De hecho, aún en los días que se recomendaba (erróneamente) comenzar sólidos a los 4 meses, a los 6 se decía introducir comida en trocitos o ‘comida de
                    mesa’ para ayudar a desarrollar y fortalecer la masticación. Con el baby led weaning o auto alimentación, la única diferencia es que nos saltamos la etapa de los purés. Asi que siempre y <b>cuando se sigan las reglas de seguridad</b>,
                    el riesgo de
                    <%=link_to "ahogamiento", pages_ahogamiento_path%> es el mismo que con cualquier otro método de introducción de sólidos. Inclusive puede ser más seguro ya que al permitir que el bebé controle lo que se lleva a la boca, le estamos ayudando a aprender a comer de manera segura y en el
                        orden natural.
                </p>
                <br/>
                <p>
                    Esto es porque los bebés no son capaces de tragar sólidos sin
                    <%=link_to "reflejo nauseoso", pages_reflejo_nauseoso_path%> hasta no desarrollar la capacidad de masticar. Y no desarrollan esta habilidad hasta después de tener la capacidad de agarrar cosas (motricidad gruesa). Por eso es uno de los
                        <%=link_to "requisitos", pages_edad_para_empezar_blw_path%> para saber si tu bebé está listo para comenzar con sólidos. El “agarre de pinza” (motricidad fina) se desarrolla aún después. Este orden natural de desarrollo ayuda a disminuir el riesgo de ahogamiento. La naturaleza es sabia.
                </p>
                <br/>
                <p>
                    Dicho de otra manera, el desarrollo general de un bebé parece ir al mismo ritmo que su habilidad para meterse comida a la boca y digerirla. Si a tu bebé todavía le cuesta trabajo llevarse la comida a la boca, es probable que todavía no esté listo para
                    comer. Es importante que resistas la tentación de ‘ayudarlo’, tu bebé comerá cuando está físicamente lista y apresurarla aumenta el riesgo de ahogamiento.
                </p>
                <br/>
                <p>
                    Sea cual sea el método que eligas para introducir alimentos, utiliza tu sentido común y siempre mantén un ojo en tu bebé. Los accidentes suceden en un segundo. Y recuerda:
                </p>
                <br/>
                <ul>
                    <li>
                        <p><b>Nunca dejar a tu bebé solo.</b>
                        </p>
                    </li>
                    <li>
                        <p>
                            Esperar a que tu bebé esté listo
                            <%=link_to "(ver requisitos)", pages_edad_para_empezar_blw_path%>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Nunca </b>meter alimentos en la boca del bebé. Él debe ser el único en hacerlo. (Si haces BLW).
                        </p>
                    </li>
                    <li>
                        <p>
                            <%=link_to "Evitar alimentos peligrosos", pages_alimentos_peligrosos_path%>. Nada de frutos secos; y si le das alimentos redondos como uvas o cerezas que sea partidos por la mitad de manera vertical.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lavar las manitas de bebé porque con ellas come.
                        </p>
                    </li>
                </ul>
                <br/>
                <p>
                    Cabe mencionar que sin importar si empiezas con purés o baby led weaning toma en cuenta que la mayoría de los bebés son capaces de comer “finger foods” (comida que pueden agarrar ellos mismos) a los 8 meses y la comida que come el resto de la familia
                    a los 12 meses de edad. Según la OMS, <a href="http://www.ncbi.nlm.nih.gov/pubmed/19161546" target="_blank">existe una
    “ventana crítica” de tiempo para introducir comida con grumos.</a> <b>Se ha visto que si los sólidos son introducidos después de los 9 meses se puede incrementar el riesgo de dificultades para comer.</b> Entonces sea cual sea tu método de alimentación,
                    es recomendable incrementar la consistencia (puré, grumos, “finger foods”, etc) de comida con la edad.
                </p>
                <br/>
                <blockquote>
                    <p class="quoteContent"> <b class="quotes">"</b>El niño para aprender a comer normal necesita que le demos comida normal. Y lo que podría ser muy sencillo, muy fácil de aprender a los 6, a los 8, a los 9 meses, se convierte en algo muy difícil a los 2, 3 años…
                        Que al final aprenden todos.
                        <b class="quotes">"</b>
                    </p>
                    <footer>Carlos González, pediatra y autor</footer>
                </blockquote>

            </div>
        </div>
    </div>
</div>